section.page-404
  .page-404__container
    h1.page-404__title Ошибка 404
    p.page-404__descr Кажется вы не туда попали, такой страницы не существует
    a.page-404__btn(href="/") Вернуться на главную
  
