a.banner-content(href="#")
  .banner-content__container
    .banner-content__col.banner-content__col--left
      .banner-content__title Летняя заочная математическая школа
      .banner-content__text-wrapper
        span.banner-content__text Ранняя регистрация:
        span.banner-content__price-new 500 руб.
        span.banner-content__price-old 1 500 руб.
      .banner-content__date-and-location 23-28 июля&nbsp;| Москва
    .banner-content__col.banner-content__col--right
      .banner-content__btn Узнать подробнее
  img.banner-content__img(src="img/banners/2.png")
