.teachers-block
    .teachers-block__container
        .teachers-block__title 
            h2.title Знакомтесь с нашими преподавателями
        .teachers-block__slider.teacher-block__slider-js
            .teachers-block__teacher-card
                include ../teacher-card/teacher-card
            .teachers-block__teacher-card
                include ../teacher-card/teacher-card-reverse
