.modal-all-questions.modal-all-questions--active
  .modal-all-questions__container
    .modal-all-questions__close
    .modal-all-questions__title
      | Нужно ответить на&nbsp;все вопросы!
    .modal-all-questions__descr
      | Чтобы завершить тестирование, вернись&nbsp;
      br
      | на&nbsp;пропущенные задания и&nbsp;дай свой ответ
    a.modal-all-questions__btn(href="#") Вернуться и ответить
  .modal-all-questions__overlay
