.offer-block.offer-block_bg
    .offer-block__container
        .offer-block__title
            h5.title.title_white Присоединяйтесь к нам
        p.offer-block__description Начните с бесплатного пробного занятия
        
        .offer-block__form
            form(action="#").form
                .form__row
                    .form__item.form__wide-input.offer-block__form-input
                        input(type="text", placeholder="Введите ваш телефон").input.input_round.input_white
                    .form__item
                        button.button.button_dark.button_medium.button-open-auth-mobile-js Записаться

