.modal-go-to-testing.modal-go-to-testing--active
  .modal-go-to-testing__container
    .modal-go-to-testing__close
    .modal-go-to-testing__title
      | Добро пожаловать в&nbsp;MathLabs!
    .modal-go-to-testing__descr
      | Чтобы определить твой уровень знаний,&nbsp;
      br
      | пожалуйста, пройди тестирование,&nbsp;
      br
      | перед началом занятий!
    a.modal-go-to-testing__btn(href="#") Перейти к тестированию
  .modal-go-to-testing__overlay
