.modal-classes-successfully-paid.modal-classes-successfully-paid--active
  .modal-classes-successfully-paid__container
    .modal-classes-successfully-paid__close
    .modal-classes-successfully-paid__title
      | Занятия успешно оплачены!
    .modal-classes-successfully-paid__descr
      | В&nbsp;разделе &laquo;Мои уроки&raquo; выбери нужное занятие&nbsp;
      br
      | и&nbsp;начинай обучение. Успехов тебе!
    a.modal-classes-successfully-paid__btn(href="#") Продолжить
  .modal-classes-successfully-paid__overlay
