.welcome
  .welcome__container
    h1.welcome__title Добро пожаловать!
    p.welcome__descr
      | Мы&nbsp;отправили пароль для подтверждения
      br
      | на&nbsp;вашу электронную почту.
      br
      | Проверьте сейчас!
    a.welcome__btn(href="#") Продолжить
