.calendar
  .calendar__header
    .calendar__monthname
    .calendar__nav
      .calendar__nav-item.calendar__nav-item--prev
      .calendar__nav-item.calendar__nav-item--next
  .calendar__content.calendar__content--days
    .calendar__day пн
    .calendar__day вт
    .calendar__day ср
    .calendar__day чт
    .calendar__day пт
    .calendar__day сб
    .calendar__day вс
  ul.calendar__content.calendar__content--numbers
    //- Dates go in here
