.banner-recommend
  .banner-recommend__title-block Рекомендуем
  a.banner-recommend__link(href="#")
      .banner-recommend__container
        .banner-recommend__col.banner-recommend__col--left
          .banner-recommend__title Интенсив по высшей математике
          .banner-recommend__text-wrapper
            span.banner-recommend__text Ранняя регистрация:
            span.banner-recommend__price-new 500 руб.
            span.banner-recommend__price-old 1 500 руб.
          .banner-recommend__date-and-location 30&nbsp;марта&nbsp;| с&nbsp;16:00 до&nbsp;20:00
        .banner-recommend__col.banner-recommend__col--right
          .banner-recommend__btn Записаться
