.about-test
  .about-test__container
    .about-test__title
      | С&nbsp;помощью этого тесты&nbsp;
      br
      | мы&nbsp;определим твой уровень знаний и&nbsp;предложим&nbsp;
      br
      | индивидуальный план обучения!
    .about-test__list
      .about-test__list-item.about-test__list-item--class Уровень 11&nbsp;класса
      .about-test__list-item.about-test__list-item--list Всего 20&nbsp;вопросов
      .about-test__list-item.about-test__list-item--clock Рекомендуемое время 60&nbsp;минут
