.teacher-card
    .teacher-card__col
        .teacher-card__image
            img(src="img/teacher-card/teacher-1.jpg", alt="Горяев Альберт")
    .teacher-card__info-wrapper.teacher-card__col
        .teacher-card__info
            h3.teacher-card__name Горяев Альберт
            .teacher-card__university Механико-математический факультет МГУ
                span.teacher-card__university-logo
                    img(src="img/teacher-card/logo-mgu.png", alt="Логотип МГУ")
            p.teacher-card__about Сын ученого, который занимается вопросами космического излучения в РАН. Альберт любит математику так сильно, что берет книги по функциональному анализу даже на встречи с друзьями.
            p.teacher-card__about Подготовил ряд школьников, которые поступили в ряд ведущих лицеев и математических школ Москвы.
            .teacher-card__footer
                .teacher-card__footer-item
                    .teacher-card__footer-item-title ЕГЭ по математике
                    .teacher-card__footer-item-data 100 из 100 баллов
                .teacher-card__footer-item
                    .teacher-card__footer-item-title Доп. экзамен МГУ
                    .teacher-card__footer-item-data 100 из 100 баллов