section.task-block
    .task-block__container  
        .task-block__title 
            h2.title Давайте сразу с интересной задачи!
        .task-block__content
            .task-block__content-row
                .task-block__content-title Дано:
                .task-block__content-text В стране Кидцуния любые два города соединены дорогой с односторонним движением. 
            .task-block__content-row
                .task-block__content-title Доказать:
                .task-block__content-text.task-block__content-text_bold Докажите, что можно проехать по всем городам,  побывав в каждом по одному разу.
        .task-block__left
        .task-block__right
        .task-block__line
            svg(viewBox="0 0 901 29" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M2 2L36.3446 27H862.635L899 2" stroke="#B0C1FF")


