.pay-for-classes
  .pay-for-classes__container
    .pay-for-classes__title Оплатить занятия
    .pay-for-classes__descr
      | Тебе доступно:
      span.pay-for-classes__descr-bold 32 занятия
    .pay-for-classes__descr
      | Когда занятий будет &laquo;
      span.pay-for-classes__descr-red 0
      | &raquo;&nbsp;&mdash; оплати подходящий пакет занятий ниже, чтобы продолжить обучение.&nbsp;
      br
      | После &nbsp;
      a.pay-for-classes__descr-link(href="#") привязки карты&nbsp;
      | ты&nbsp;сможешь удобно оплачивать занятия.
    .pay-for-classes__offers-wrapper
      .pay-for-classes__offers-item
        .pay-for-classes__offers-title 1 занятие
        .pay-for-classes__offers-price 1 190 руб.
        .pay-for-classes__offers-descr Хорошо для старта
        a.pay-for-classes__offers-btn(href="#") Купить за 1190 ₽
      .pay-for-classes__offers-item
        .pay-for-classes__offers-title 4 занятия
        .pay-for-classes__offers-price 990 руб.
        .pay-for-classes__offers-saving Экономия 700 руб.
        .pay-for-classes__offers-descr 2&nbsp;неделя учёбы (два занятия в&nbsp;неделю)
        a.pay-for-classes__offers-btn(href="#") Купить за 3960 ₽
      .pay-for-classes__offers-item
        .pay-for-classes__offers-title 8 занятий
        .pay-for-classes__offers-price 890 руб.
        .pay-for-classes__offers-saving Экономия 2100 руб.
        .pay-for-classes__offers-descr 1&nbsp;месяц учёбы (два занятия в&nbsp;неделю)
        a.pay-for-classes__offers-btn(href="#") Купить за 7120 ₽
      .pay-for-classes__offers-item
        .pay-for-classes__offers-title 16 занятий
        .pay-for-classes__offers-price 790 руб.
        .pay-for-classes__offers-saving Экономия 4200 руб.
        .pay-for-classes__offers-descr 1&nbsp;месяц учёбы (два занятия в&nbsp;неделю)
        a.pay-for-classes__offers-btn(href="#") Купить за 12640 ₽
      .pay-for-classes__offers-item.pay-for-classes__offers-item--selected
        .pay-for-classes__offers-title 32 занятий
        .pay-for-classes__offers-price 690 руб.
        .pay-for-classes__offers-saving Экономия 8400 руб.
        .pay-for-classes__offers-descr 1&nbsp;месяц учёбы (два занятия в&nbsp;неделю)
        a.pay-for-classes__offers-btn(href="#") Купить за 20480 ₽
    .pay-for-classes__how-it-works
      .pay-for-classes__how-it-works-row
        .pay-for-classes__how-it-works-title Как это работает?
      .pay-for-classes__how-it-works-row
        .pay-for-classes__how-it-works-item.pay-for-classes__how-it-works-item--payment
          .pay-for-classes__how-it-works-text
            | Оплачивай занятия, чтобы обучаться &nbsp;
            br
            | с&nbsp;репетитором&nbsp;
            span.pay-for-classes__how-it-works-item-text-bold в&nbsp;группе
        .pay-for-classes__how-it-works-item.pay-for-classes__how-it-works-item--group
          .pay-for-classes__how-it-works-text
            | После покупки занятий ты&nbsp;можешь&nbsp;
            br
            | использовать их&nbsp;кол-во для участия&nbsp;
            br
            | в&nbsp;любых доступных групповых занятиях.
            br
            span.pay-for-classes__how-it-works-text-bold Просто запишись&nbsp;
            | и&nbsp;учись!
        .pay-for-classes__how-it-works-item.pay-for-classes__how-it-works-item--add-money
          .pay-for-classes__how-it-works-text
            | Кол-во доступных занятий видно&nbsp;
            br
            | в&nbsp;панели навигации. Если они&nbsp;
            br
            | закончились&nbsp;&mdash;&nbsp;
            span.pay-for-classes__how-it-works-text-bold пополни,&nbsp;
            | чтобы&nbsp;
            br
            | продолжить обучение.
