.modal-timing.modal-timing--active
  .modal-timing__container
    .modal-timing__close
    .modal-timing__title
      | Поздравляем! 
      br
      | Ты&nbsp;записан на&nbsp;занятия!
    .modal-timing__descr Выбери день и&nbsp;время удобное для обучения:
    .modal-timing__calendar
      .modal-timing__calendar-header
        .modal-timing__calendar-row
          .modal-timing__item Пн
          .modal-timing__item.modal-timing__item--already-set Вт
          .modal-timing__item Ср
          .modal-timing__item Чт
          .modal-timing__item.modal-timing__item--already-selected Пт
          .modal-timing__item Сб
          .modal-timing__item Вс
      .modal-timing__calendar-content
        .modal-timing__calendar-row
          .modal-timing__item 9:00
          .modal-timing__item 10:00
          .modal-timing__item 11:00
          .modal-timing__item 12:00
          .modal-timing__item 13:00
          .modal-timing__item 14:00
        .modal-timing__calendar-row
          .modal-timing__item 15:00
          .modal-timing__item 16:00
          .modal-timing__item 17:00
          .modal-timing__item 18:00
          .modal-timing__item 19:00
          .modal-timing__item 20:00
    a.modal-timing__btn(href="#") Сохранить
  .modal-timing__overlay
