header.header.header--lite
  .header__container
    .header__col.header__col--left
      a.header__logo(href="/")
      a.header__btn-back(href="/") Вернуться на главную
    .header__col.header__col--right
      a.header__text(href="tel:+74994904467") +7 (499) 490-44-67
      a.header__link(href="#" data-modal="0")
        span.header__link-text Войти
include ../modal-auth-reg/modal-auth-reg
