header.header.header--inner
  .header__container
    .header__col.header__col--left
      a.header__logo(href="/")
      .header__reminder 
        .header__reminder-item.header__reminder-item--active Твоё следующее занятие завтра в&nbsp;18:00! Не&nbsp;пропусти! :)
        .header__reminder-item.header__reminder-item--urgent Срочно! Завтра в&nbsp;18:00! Не&nbsp;пропусти! :)
    .header__col.header__col--right
      a.header__btn-number-of-paid(href="#")
        | Оплачено занятий:
        .header__btn-text-bold 32
      a.header__user(href="#")
        img.header__user-avatar(src="img/icons/icon-avatar-example.svg")
        .header__user-text Привет, Константин!
      a.header__exit(href="#")
