mixin price-card(className, title, price)
    .price-card(class= className)
        h5.price-card__title= title
        .price-card__price= price
        .price-card__button
            button.button.button-open-auth-js Записаться