.notifications
  .notifications__container
    .notifications__item
      .notifications__col.notifications__col--left
        .notifications__icon.notifications__icon--bell
      .notifications__col.notifications__col--middle
        .notifications__title Твоё следующее занятие завтра в 18:00! Не пропусти! :)
        .notifications__date 25.03.2020
      .notifications__col.notifications__col--right
        a.notifications__icon.notifications__icon--close(href="#")
    .notifications__item
      .notifications__col.notifications__col--left
        .notifications__icon.notifications__icon--bell
      .notifications__col.notifications__col--middle
        .notifications__title У тебя есть неоплаченные занятия. Перейди на страницу курса, чтобы оплатить!
        .notifications__date 25.03.2020
      .notifications__col.notifications__col--right
        a.notifications__icon.notifications__icon--close(href="#")
    .notifications__item
      .notifications__col.notifications__col--left
        .notifications__icon.notifications__icon--bell
      .notifications__col.notifications__col--middle
        .notifications__title В корзине есть неоплаченные занятия. Оплати, чтобы продолжить обучение!
        .notifications__date 25.03.2020
      .notifications__col.notifications__col--right
        a.notifications__icon.notifications__icon--close(href="#")
    .notifications__item
      .notifications__col.notifications__col--left
        .notifications__icon.notifications__icon--bell
      .notifications__col.notifications__col--middle
        .notifications__title Твоё следующее занятие завтра в 18:00! Не пропусти! :)
        .notifications__date 25.03.2020
      .notifications__col.notifications__col--right
        a.notifications__icon.notifications__icon--close(href="#")
    .notifications__item
      .notifications__col.notifications__col--left
        .notifications__icon.notifications__icon--bell
      .notifications__col.notifications__col--middle
        .notifications__title У тебя есть неоплаченные занятия. Перейди на страницу курса, чтобы оплатить!
        .notifications__date 25.03.2020
      .notifications__col.notifications__col--right
        a.notifications__icon.notifications__icon--close(href="#")
    .notifications__item
      .notifications__col.notifications__col--left
        .notifications__icon.notifications__icon--bell
      .notifications__col.notifications__col--middle
        .notifications__title В корзине есть неоплаченные занятия. Оплати, чтобы продолжить обучение!
        .notifications__date 25.03.2020
      .notifications__col.notifications__col--right
        a.notifications__icon.notifications__icon--close(href="#")
    .notifications__item
      .notifications__col.notifications__col--left
        .notifications__icon.notifications__icon--bell
      .notifications__col.notifications__col--middle
        .notifications__title Твоё следующее занятие завтра в 18:00! Не пропусти! :)
        .notifications__date 25.03.2020
      .notifications__col.notifications__col--right
        a.notifications__icon.notifications__icon--close(href="#")
    .notifications__item
      .notifications__col.notifications__col--left
        .notifications__icon.notifications__icon--bell
      .notifications__col.notifications__col--middle
        .notifications__title У тебя есть неоплаченные занятия. Перейди на страницу курса, чтобы оплатить!
        .notifications__date 25.03.2020
      .notifications__col.notifications__col--right
        a.notifications__icon.notifications__icon--close(href="#")
  .notifications__container.notifications__container--without-box-shadow
    a.notifications__btn(href="#") Показать ещё
