sidebar.sidebar.sidebar--progress
  .sidebar__row.sidebar__row--top
    .sidebar__title
      .sidebar__title-text Пройдено занятий
      .sidebar__title-numbers 0/10
    .sidebar__progress
      .sidebar__progress-line(style="width: 9.090909090909091%")
  .sidebar__row.sidebar__row--middle
    ol.sidebar__list-lessons
      li.sidebar__list-lessons-item.sidebar__list-lessons-item--active Вводное занятие
      li.sidebar__list-lessons-item Алегбра в части В
      li.sidebar__list-lessons-item Геометрия в части В
      li.sidebar__list-lessons-item Задача 1
      li.sidebar__list-lessons-item Задача 2
      li.sidebar__list-lessons-item Уравнения
      li.sidebar__list-lessons-item Стереометрия
      li.sidebar__list-lessons-item Задача 1
      li.sidebar__list-lessons-item Задача 2
      li.sidebar__list-lessons-item Алегбра в части В
      li.sidebar__list-lessons-item Геометрия в части В
  .sidebar__row.sidebar__row--bottom
    .sidebar__certificate
      | Сертификат об&nbsp;успешном&nbsp;
      br
      | прохождении курса
