sidebar.sidebar
  .sidebar__nav
    a.sidebar__item.sidebar__item--pay-for-classes.sidebar__item--active(href="#")
      | Оплатить занятия
      span.sidebar__item-border
    a.sidebar__item.sidebar__item--available-classes(href="#")
      | Доп. занятия
      .sidebar__item-numbers 5
      span.sidebar__item-border
    a.sidebar__item.sidebar__item--my-lessons(href="#")
      | Мои уроки
      span.sidebar__circle
      span.sidebar__item-border
    a.sidebar__item.sidebar__item--settings(href="#")
      | Настройки
      span.sidebar__item-border
    a.sidebar__item.sidebar__item--notifications(href="#")
      | Уведомления
      .sidebar__item-numbers 3
      span.sidebar__item-border
    a.sidebar__item.sidebar__item--exit(href="#")
      | Выход
      span.sidebar__item-border
  .sidebar__banner
    a.sidebar__banner-link(href="#")
      .sidebar__banner-title.sidebar__banner-title--small-indent
        | Летняя заочная&nbsp;
        br
        | математическая школа
      .sidebar__banner-descr 23-28 июля&nbsp;| Москва
      img.sidebar__banner-img(src="img/banners/2.png")
      .sidebar__banner-btn Узнать подробнее
