.thanks
  .thanks__container
    h1.thanks__title Спасибо за&nbsp;заявку
    p.thanks__descr.thanks__descr--big
      | В&nbsp;ближайшее время мы&nbsp;свяжемся с&nbsp;Вами.
      br
      | А&nbsp;пока предлагаем решить задачу:
    p.thanks__descr
      | На&nbsp;острове 2/3 всех мужчин женаты и&nbsp;3/5 всех женщин замужем. Какая доля населения острова состоит в&nbsp;браке?
      br
      br
      | отправьте решение на&nbsp;
      a.thanks__link(href="mailto:task@mathlabs.ru") task@mathlabs.ru
    a.thanks__btn(href="/") Вернуться на главную
