include ../feature/feature

section.features-block
    .features-block__container
        .features-block__row
            .features-block__col
                +feature("img/features/feature-1.svg", "Выясняем, на какие темы стоит сделать упор в подготовке. Чаще всего на все :)")
            .features-block__col
                +feature("img/features/feature-2.svg", "Проводим первое тестирование, чтобы определить уровень ученика")
            .features-block__col
                +feature("img/features/feature-3.svg", "Проводим занятия так, чтобы учащийся постоянно был мотивирован к росту")
            .features-block__col
                +feature("img/features/feature-4.svg", "Точно знаем, как сдавать экзамены, ведь мы сами сдали их на 100 баллов")