.banner-start-stop.banner-start-stop--with-transition
  .banner-start-stop__container
    .banner-start-stop__title
      | Чтобы начать обучение,&nbsp;
      br
      | тебе нужно завершить&nbsp;
      br
      | тестирование!
    a.banner-start-stop__btn(href="#") Завершить тестирование
