.banner-start-stop.banner-start-stop--with-transition
  .banner-start-stop__container
    .banner-start-stop__title
      | Пройди тестирование 
      br
      | и&nbsp;мы&nbsp;подберем план занятий
      br
      | специально для тебя!
    a.banner-start-stop__btn(href="#") Начать тестирование
