.archive
  .archive__container
    include ../item/item-archive
    include ../item/item-archive
    include ../item/item-archive
  .archive__container.archive__container--without-box-shadow
    a.archive__btn(href="#") Показать ещё
