.quote-block
    .quote-block__inner
        .quote-block__container
            .quote-block__row
                .quote-block__col
                    .quote-block__quote
                        .quote-block__quote-text Большинство людей настолько боятся самого названия математики, что они готовы совершенно искренне преувеличивать свою неспособность к математике
                        .quote-block__quote-footer
                            .quote-block__quote-name Годфри Харди
                            .quote-block__quote-position Английский математик
        .quote-block__person
            img(src="img/quote-block/godfrey.jpg", alt="Годфри Харди")
                