.more-about.more-about--intensives
  .more-about__container
    .more-about__cover
      .more-about__cover-tag Интенсив
      .more-about__date 30&nbsp;марта&nbsp;| с&nbsp;16:00 до&nbsp;20:00
      .more-about__cover-title Интенсив по высшей математике
      .more-about__cover-price
        span.more-about__cover-price-old 1 500 руб.
        | 500 руб.
      a.more-about__cover-btn(href="#") Записаться
  .more-about__container
    .more-about__descr Курс прорабатывает необходимую теорию, учит решать сложные задания из&nbsp;олимпиады Физтех по&nbsp;математике, правильно выстраивая логику рассуждений. На&nbsp;занятиях обсуждаются олимпиадные задачи прошлых лет по&nbsp;математике и&nbsp;разбираются методы их&nbsp;решения.
  .more-about__container
    .more-about__bullitts
      .more-about__bullitts-item.more-about__bullitts-item--graduate
        .more-about__bullitts-item-text
          | Курс длится&nbsp;
          span.more-about__bullitts-item-text-bold 3&nbsp;недели&nbsp;
          | &mdash;&nbsp;
          br
          | с&nbsp;25&nbsp;марта по&nbsp;1&nbsp;мая 2020
      .more-about__bullitts-item.more-about__bullitts-item--book
        .more-about__bullitts-item-text
          | Включает 
          span.more-about__bullitts-item-text-bold 5&nbsp;занятий,&nbsp;
          br
          | каждое из&nbsp;которых длится 
          br
          | 2&nbsp;академических часа
      .more-about__bullitts-item.more-about__bullitts-item--paper
        .more-about__bullitts-item-text
         | Предлагается&nbsp;
         span.more-about__bullitts-item-text-bold куратор
         | , занятия дополняются материалами для
         br
         | распечатки
  .more-about__container
    .more-about__program
      .more-about__program-title Программа интенсива
      .more-about__program-descr Онлайн-занятия проходят по&nbsp;средам и&nbsp;пятницам в&nbsp;18:00 и&nbsp;всегда доступны в&nbsp;записи
      .more-about__program-wrapper
        .more-about__program-item
          .more-about__program-item-question Геометрическая оптика
          .more-about__program-item-answer Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit pretium bibendum tellus aliquam auctor sem elementum velit. Sit facilisis accumsan, mattis imperdiet lobortis. Curabitur diam sit feugiat mattis feugiat diam nunc posuere. Tellus neque, est, amet adipiscing venenatis, velit semper neque faucibus. Cursus egestas dis massa proin est. Quisque bibendum nullam metus, sed quis. Massa nunc, congue sollicitudin dictumst cras. Convallis morbi nisi, magna egestas. Varius elit augue dictumst at velit tempus, sed et mollis.
        .more-about__program-item
          .more-about__program-item-question Молекулярная физика и термодинамика
          .more-about__program-item-answer Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit pretium bibendum tellus aliquam auctor sem elementum velit. Sit facilisis accumsan, mattis imperdiet lobortis. Curabitur diam sit feugiat mattis feugiat diam nunc posuere. Tellus neque, est, amet adipiscing venenatis, velit semper neque faucibus. Cursus egestas dis massa proin est. Quisque bibendum nullam metus, sed quis. Massa nunc, congue sollicitudin dictumst cras. Convallis morbi nisi, magna egestas. Varius elit augue dictumst at velit tempus, sed et mollis.
        .more-about__program-item
          .more-about__program-item-question Геометрическая оптика
          .more-about__program-item-answer Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit pretium bibendum tellus aliquam auctor sem elementum velit. Sit facilisis accumsan, mattis imperdiet lobortis. Curabitur diam sit feugiat mattis feugiat diam nunc posuere. Tellus neque, est, amet adipiscing venenatis, velit semper neque faucibus. Cursus egestas dis massa proin est. Quisque bibendum nullam metus, sed quis. Massa nunc, congue sollicitudin dictumst cras. Convallis morbi nisi, magna egestas. Varius elit augue dictumst at velit tempus, sed et mollis.
        .more-about__program-item
          .more-about__program-item-question Молекулярная физика и термодинамика
          .more-about__program-item-answer Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit pretium bibendum tellus aliquam auctor sem elementum velit. Sit facilisis accumsan, mattis imperdiet lobortis. Curabitur diam sit feugiat mattis feugiat diam nunc posuere. Tellus neque, est, amet adipiscing venenatis, velit semper neque faucibus. Cursus egestas dis massa proin est. Quisque bibendum nullam metus, sed quis. Massa nunc, congue sollicitudin dictumst cras. Convallis morbi nisi, magna egestas. Varius elit augue dictumst at velit tempus, sed et mollis.
  .more-about__container
    .more-about__cost-of-training
      .more-about__cost-of-training-title Стоимость интенсива
      .more-about__cost-of-training-wrapper.more-about__cost-of-training-wrapper--center
        .more-about__cost-of-training-item.more-about__cost-of-training-item--orange
          .more-about__cost-of-training-price 500 руб.
          .more-about__cost-of-training-price-old 1 500 руб.
          a.more-about__cost-of-training-btn(href="#") Оплатить интенсив
          .more-about__cost-of-training-warning
            | Количество мест ограничено.
            br
            | Записывайтесь заранее!
  .more-about__container
    .more-about__course-teacher
      .more-about__course-teacher-title Преподаватель курса
      .more-about__course-teacher-row
        .more-about__course-teacher-col.more-about__course-teacher-col--left
          img.more-about__course-teacher-img(src="img/examples/3.png")
        .more-about__course-teacher-col.more-about__course-teacher-col--right
          .more-about__course-teacher-subtitle Альберт Горяев
          .more-about__course-teacher-descr Механико-математический факультет МГУ
          .more-about__course-teacher-text
            | Сын ученого, который занимается вопросами космического излучения в РАН. Альберт любит математику так сильно, что берет книги по функциональному анализу даже на встречи с друзьями.
            br
            br
            | Подготовил ряд школьников, которые поступили в ряд ведущих лицеев и математических школ Москвы.
          .more-about__course-teacher-wrapper
            .more-about__course-teacher-assessment
              .more-about__course-teacher-assessment-title ЕГЭ по математике
              .more-about__course-teacher-assessment-text 100 из 100 баллов
            .more-about__course-teacher-assessment
              .more-about__course-teacher-assessment-title Дополнительный экзамен МГУ
              .more-about__course-teacher-assessment-text 100 из 100 баллов
  .more-about__container
    .more-about__faq
      .more-about__faq-title Вопросы/Ответы
      .more-about__faq-wrapper
        .more-about__faq-item
          .more-about__faq-item-question У вас много репетиторов, как вы контролируете качество занятий?
          .more-about__faq-item-answer Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit pretium bibendum tellus aliquam auctor sem elementum velit. Sit facilisis accumsan, mattis imperdiet lobortis. Curabitur diam sit feugiat mattis feugiat diam nunc posuere. Tellus neque, est, amet adipiscing venenatis, velit semper neque faucibus. Cursus egestas dis massa proin est. Quisque bibendum nullam metus, sed quis. Massa nunc, congue sollicitudin dictumst cras. Convallis morbi nisi, magna egestas. Varius elit augue dictumst at velit tempus, sed et mollis.
        .more-about__faq-item
          .more-about__faq-item-question Как, когда и в какое время я буду учиться?
          .more-about__faq-item-answer Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit pretium bibendum tellus aliquam auctor sem elementum velit. Sit facilisis accumsan, mattis imperdiet lobortis. Curabitur diam sit feugiat mattis feugiat diam nunc posuere. Tellus neque, est, amet adipiscing venenatis, velit semper neque faucibus. Cursus egestas dis massa proin est. Quisque bibendum nullam metus, sed quis. Massa nunc, congue sollicitudin dictumst cras. Convallis morbi nisi, magna egestas. Varius elit augue dictumst at velit tempus, sed et mollis.
        .more-about__faq-item
          .more-about__faq-item-question У вас много репетиторов, как вы контролируете качество занятий?
          .more-about__faq-item-answer Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit pretium bibendum tellus aliquam auctor sem elementum velit. Sit facilisis accumsan, mattis imperdiet lobortis. Curabitur diam sit feugiat mattis feugiat diam nunc posuere. Tellus neque, est, amet adipiscing venenatis, velit semper neque faucibus. Cursus egestas dis massa proin est. Quisque bibendum nullam metus, sed quis. Massa nunc, congue sollicitudin dictumst cras. Convallis morbi nisi, magna egestas. Varius elit augue dictumst at velit tempus, sed et mollis.
        .more-about__faq-item
          .more-about__faq-item-question У вас много репетиторов, как вы контролируете качество занятий?
          .more-about__faq-item-answer Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit pretium bibendum tellus aliquam auctor sem elementum velit. Sit facilisis accumsan, mattis imperdiet lobortis. Curabitur diam sit feugiat mattis feugiat diam nunc posuere. Tellus neque, est, amet adipiscing venenatis, velit semper neque faucibus. Cursus egestas dis massa proin est. Quisque bibendum nullam metus, sed quis. Massa nunc, congue sollicitudin dictumst cras. Convallis morbi nisi, magna egestas. Varius elit augue dictumst at velit tempus, sed et mollis.
  .more-about__container
    .more-about__try-it-for-free
      .more-about__try-it-for-free-title Попробуй бесплатное вводное онлайн-занятие
      a.more-about__try-it-for-free-btn(href="#") Оплатить интенсив
