.more-about.more-about--classes-in-group
  .more-about__container
    .more-about__cover
      .more-about__cover-tag В группе
      .more-about__cover-title Подготовка к ЕГЭ по базовой математике
      .more-about__cover-price 1 190 руб/занятие
      a.more-about__cover-btn(href="#") Записаться
  .more-about__container
    .more-about__descr Курс прорабатывает необходимую теорию, учит решать сложные задания из олимпиады Физтех по математике, правильно выстраивая логику рассуждений. На занятиях обсуждаются олимпиадные задачи прошлых лет по математике и разбираются методы их решения.
  .more-about__container
    .more-about__bullitts
      .more-about__bullitts-item.more-about__bullitts-item--graduate
        .more-about__bullitts-item-text
          | Курс длится&nbsp;
          span.more-about__bullitts-item-text-bold 3&nbsp;недели&nbsp;
          | &mdash;&nbsp;
          br
          | с&nbsp;25&nbsp;марта по&nbsp;1&nbsp;мая 2020
      .more-about__bullitts-item.more-about__bullitts-item--book
        .more-about__bullitts-item-text
          | Включает 
          span.more-about__bullitts-item-text-bold 5&nbsp;занятий,&nbsp;
          br
          | каждое из&nbsp;которых длится 
          br
          | 2&nbsp;академических часа
      .more-about__bullitts-item.more-about__bullitts-item--paper
        .more-about__bullitts-item-text
         | Предлагается&nbsp;
         span.more-about__bullitts-item-text-bold куратор
         | , занятия дополняются материалами для
         br
         | распечатки
  .more-about__container
    .more-about__cost-of-training
      .more-about__cost-of-training-title Стоимость занятий
      .pay-for-classes__offers-wrapper
        .pay-for-classes__offers-item
          .pay-for-classes__offers-title 1 занятие
          .pay-for-classes__offers-price 1 190 руб.
          .pay-for-classes__offers-descr Хорошо для старта
          a.pay-for-classes__offers-btn(href="#") Купить за 1190 ₽
        .pay-for-classes__offers-item
          .pay-for-classes__offers-title 4 занятия
          .pay-for-classes__offers-price 990 руб.
          .pay-for-classes__offers-saving Экономия 700 руб.
          .pay-for-classes__offers-descr 2&nbsp;неделя учёбы (два занятия в&nbsp;неделю)
          a.pay-for-classes__offers-btn(href="#") Купить за 3960 ₽
        .pay-for-classes__offers-item
          .pay-for-classes__offers-title 8 занятий
          .pay-for-classes__offers-price 890 руб.
          .pay-for-classes__offers-saving Экономия 2100 руб.
          .pay-for-classes__offers-descr 1&nbsp;месяц учёбы (два занятия в&nbsp;неделю)
          a.pay-for-classes__offers-btn(href="#") Купить за 7120 ₽
        .pay-for-classes__offers-item
          .pay-for-classes__offers-title 16 занятий
          .pay-for-classes__offers-price 790 руб.
          .pay-for-classes__offers-saving Экономия 4200 руб.
          .pay-for-classes__offers-descr 1&nbsp;месяц учёбы (два занятия в&nbsp;неделю)
          a.pay-for-classes__offers-btn(href="#") Купить за 12640 ₽
        .pay-for-classes__offers-item
          .pay-for-classes__offers-title 32 занятий
          .pay-for-classes__offers-price 690 руб.
          .pay-for-classes__offers-saving Экономия 8400 руб.
          .pay-for-classes__offers-descr 1&nbsp;месяц учёбы (два занятия в&nbsp;неделю)
          a.pay-for-classes__offers-btn(href="#") Купить за 20480 ₽
  .more-about__container
    .more-about__faq
      .more-about__faq-title Вопросы/Ответы
      .more-about__faq-wrapper
        .more-about__faq-item
          .more-about__faq-item-question У вас много репетиторов, как вы контролируете качество занятий?
          .more-about__faq-item-answer Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit pretium bibendum tellus aliquam auctor sem elementum velit. Sit facilisis accumsan, mattis imperdiet lobortis. Curabitur diam sit feugiat mattis feugiat diam nunc posuere. Tellus neque, est, amet adipiscing venenatis, velit semper neque faucibus. Cursus egestas dis massa proin est. Quisque bibendum nullam metus, sed quis. Massa nunc, congue sollicitudin dictumst cras. Convallis morbi nisi, magna egestas. Varius elit augue dictumst at velit tempus, sed et mollis.
        .more-about__faq-item
          .more-about__faq-item-question Как, когда и в какое время я буду учиться?
          .more-about__faq-item-answer Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit pretium bibendum tellus aliquam auctor sem elementum velit. Sit facilisis accumsan, mattis imperdiet lobortis. Curabitur diam sit feugiat mattis feugiat diam nunc posuere. Tellus neque, est, amet adipiscing venenatis, velit semper neque faucibus. Cursus egestas dis massa proin est. Quisque bibendum nullam metus, sed quis. Massa nunc, congue sollicitudin dictumst cras. Convallis morbi nisi, magna egestas. Varius elit augue dictumst at velit tempus, sed et mollis.
        .more-about__faq-item
          .more-about__faq-item-question У вас много репетиторов, как вы контролируете качество занятий?
          .more-about__faq-item-answer Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit pretium bibendum tellus aliquam auctor sem elementum velit. Sit facilisis accumsan, mattis imperdiet lobortis. Curabitur diam sit feugiat mattis feugiat diam nunc posuere. Tellus neque, est, amet adipiscing venenatis, velit semper neque faucibus. Cursus egestas dis massa proin est. Quisque bibendum nullam metus, sed quis. Massa nunc, congue sollicitudin dictumst cras. Convallis morbi nisi, magna egestas. Varius elit augue dictumst at velit tempus, sed et mollis.
        .more-about__faq-item
          .more-about__faq-item-question У вас много репетиторов, как вы контролируете качество занятий?
          .more-about__faq-item-answer Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit pretium bibendum tellus aliquam auctor sem elementum velit. Sit facilisis accumsan, mattis imperdiet lobortis. Curabitur diam sit feugiat mattis feugiat diam nunc posuere. Tellus neque, est, amet adipiscing venenatis, velit semper neque faucibus. Cursus egestas dis massa proin est. Quisque bibendum nullam metus, sed quis. Massa nunc, congue sollicitudin dictumst cras. Convallis morbi nisi, magna egestas. Varius elit augue dictumst at velit tempus, sed et mollis.
  .more-about__container
    .more-about__try-it-for-free
      .more-about__try-it-for-free-title Попробуй бесплатное вводное онлайн-занятие
      a.more-about__try-it-for-free-btn(href="#") Записаться в группу
