.online-classes
  .online-classes__container
    .item.item--online-classes.item--purple-line
      .item__container
        .item__row.item__row--top
          .item__tags
            a.item__tags-item(href="#") Интенсив
            a.item__tags-item(href="#") 11 класс
        .item__row.item__row--middle
          .item__col
            .item__title Интенсив по высшей математике
            .item__descr Курс прорабатывает необходимую теорию, учит решать сложные задания из олимпиады Физтех по математике, правильно выстраивая логику рассуждений. На занятиях обсуждаются олимпиадные задачи прошлых лет по математике и разбираются методы их решения.
          .item__col
            .item__price-wrapper
              span.item__price.item__price--purple 1 190 руб/занятие
            a.item__btn.item__btn--purple(href="#") Записаться
            a.item__btn.item__btn--purple-empty(href="#") Подробнее
    .item.item--online-classes.item--purple-line
      .item__container
        .item__row.item__row--top
          .item__tags
            a.item__tags-item(href="#") Интенсив
            a.item__tags-item(href="#") 11 класс
        .item__row.item__row--middle
          .item__col
            .item__title Подготовка к ЕГЭ по базовой математике
            .item__descr Курс прорабатывает необходимую теорию, учит решать сложные задания из олимпиады Физтех по математике, правильно выстраивая логику рассуждений. На занятиях обсуждаются олимпиадные задачи прошлых лет по математике и разбираются методы их решения.
          .item__col
            .item__price-wrapper
              span.item__price.item__price--purple 1 190 руб/занятие
            a.item__btn.item__btn--purple(href="#") Записаться
            a.item__btn.item__btn--purple-empty(href="#") Подробнее
    .item.item--online-classes.item--purple-line
      .item__container
        .item__row.item__row--top
          .item__tags
            a.item__tags-item(href="#") Интенсив
            a.item__tags-item(href="#") 11 класс
        .item__row.item__row--middle
          .item__col
            .item__title Подготовка к ЕГЭ по базовой математике
            .item__descr Курс прорабатывает необходимую теорию, учит решать сложные задания из олимпиады Физтех по математике, правильно выстраивая логику рассуждений. На занятиях обсуждаются олимпиадные задачи прошлых лет по математике и разбираются методы их решения.
          .item__col
            .item__price-wrapper
              span.item__price.item__price--purple 1 190 руб/занятие
            a.item__btn.item__btn--purple(href="#") Записаться
            a.item__btn.item__btn--purple-empty(href="#") Подробнее
    .item.item--online-classes.item--purple-line
      .item__container
        .item__row.item__row--top
          .item__tags
            a.item__tags-item(href="#") Интенсив
            a.item__tags-item(href="#") 11 класс
        .item__row.item__row--middle
          .item__col
            .item__title Подготовка к ЕГЭ по базовой математике
            .item__descr Курс прорабатывает необходимую теорию, учит решать сложные задания из олимпиады Физтех по математике, правильно выстраивая логику рассуждений. На занятиях обсуждаются олимпиадные задачи прошлых лет по математике и разбираются методы их решения.
          .item__col
            .item__price-wrapper
              span.item__price.item__price--purple 1 190 руб/занятие
            a.item__btn.item__btn--purple(href="#") Записаться
            a.item__btn.item__btn--purple-empty(href="#") Подробнее
  .online-classes__container
    a.online-classes__btn(href="#") Показать ещё
