.online-classes
  .online-classes__container
    .item.item--online-classes.item--blue-line
      .item__container
        .item__row.item__row--top
          .item__tags
            a.item__tags-item(href="#") Интенсив
            a.item__tags-item(href="#") 11 класс
        .item__row.item__row--middle
          .item__col
            .item__title Курс подготовки к олимпиаде «Физтех» по математике
            .item__descr Курс прорабатывает необходимую теорию, учит решать сложные задания из олимпиады Физтех по математике, правильно выстраивая логику рассуждений. На занятиях обсуждаются олимпиадные задачи прошлых лет по математике и разбираются методы их решения.
          .item__col
            .item__price-wrapper
              span.item__price.item__price--blue 1 600 руб.
            a.item__btn.item__btn--blue(href="#") Оплатить курс
            a.item__btn.item__btn--blue-empty(href="#") Подробнее
        .item__row.item__row--bottom
          .item__author
            img.item__author-img(src="../img/examples/1.png")
            .item__author-title Альберт Горяев
          .item__history 30 марта | с 16:00 до 20:00
    .item.item--online-classes.item--blue-line
      .item__container
        .item__row.item__row--top
          .item__tags
            a.item__tags-item(href="#") Интенсив
            a.item__tags-item(href="#") 11 класс
        .item__row.item__row--middle
          .item__col
            .item__title Курс подготовки к олимпиаде «Физтех» по математике
            .item__descr Курс прорабатывает необходимую теорию, учит решать сложные задания из олимпиады Физтех по математике, правильно выстраивая логику рассуждений. На занятиях обсуждаются олимпиадные задачи прошлых лет по математике и разбираются методы их решения.
          .item__col
            .item__price-wrapper
              span.item__price.item__price--blue 1 600 руб.
            a.item__btn.item__btn--blue(href="#") Оплатить курс
            a.item__btn.item__btn--blue-empty(href="#") Подробнее
        .item__row.item__row--bottom
          .item__author
            img.item__author-img(src="../img/examples/1.png")
            .item__author-title Альберт Горяев
          .item__history 30 марта | с 16:00 до 20:00
    .item.item--online-classes.item--blue-line
      .item__container
        .item__row.item__row--top
          .item__tags
            a.item__tags-item(href="#") Интенсив
            a.item__tags-item(href="#") 11 класс
        .item__row.item__row--middle
          .item__col
            .item__title Курс подготовки к олимпиаде «Физтех» по математике
            .item__descr Курс прорабатывает необходимую теорию, учит решать сложные задания из олимпиады Физтех по математике, правильно выстраивая логику рассуждений. На занятиях обсуждаются олимпиадные задачи прошлых лет по математике и разбираются методы их решения.
          .item__col
            .item__price-wrapper
              span.item__price.item__price--blue 1 600 руб.
            a.item__btn.item__btn--blue(href="#") Оплатить курс
            a.item__btn.item__btn--blue-empty(href="#") Подробнее
        .item__row.item__row--bottom
          .item__author
            img.item__author-img(src="../img/examples/1.png")
            .item__author-title Альберт Горяев
          .item__history 30 марта | с 16:00 до 20:00
    .item.item--online-classes.item--blue-line
      .item__container
        .item__row.item__row--top
          .item__tags
            a.item__tags-item(href="#") Интенсив
            a.item__tags-item(href="#") 11 класс
        .item__row.item__row--middle
          .item__col
            .item__title Курс подготовки к олимпиаде «Физтех» по математике
            .item__descr Курс прорабатывает необходимую теорию, учит решать сложные задания из олимпиады Физтех по математике, правильно выстраивая логику рассуждений. На занятиях обсуждаются олимпиадные задачи прошлых лет по математике и разбираются методы их решения.
          .item__col
            .item__price-wrapper
              span.item__price.item__price--blue 1 600 руб.
            a.item__btn.item__btn--blue(href="#") Оплатить курс
            a.item__btn.item__btn--blue-empty(href="#") Подробнее
        .item__row.item__row--bottom
          .item__author
            img.item__author-img(src="../img/examples/1.png")
            .item__author-title Альберт Горяев
          .item__history 30 марта | с 16:00 до 20:00
  .online-classes__container
    a.online-classes__btn(href="#") Показать ещё
