footer.footer-main
    .footer-main__container
        .footer-main__row
            .footer-main__info
                a(href="#" class="footer-main__logo") Команда MathLabs
                p.footer-main__about-team Математик Годфри Харди писал: «Большинство людей настолько боятся самого названия математики, что они готовы совершенно искренне преувеличивать свою неспособность к математике». Мы полностью разделяем это мнение и считаем, что в большинстве случаев ребенку не хватает упорства, но никак не способностей.
            .footer-main__contacts-wrapper
                .footer-main__contacts
                    .footer-main__contacts-text Наши соц.сети
                    ul.footer-main__social-list
                        li.footer-main__social-item
                            a(href="#" class="footer-main__social-link" title="Instagram")
                                svg(width="48" height="48" aria-hidden="true")
                                    use(xlink:href='img/social/social-sprite.svg#icon-instagram')
                        li.footer-main__social-item
                            a(href="#" class="footer-main__social-link" title="Facebook")
                                svg(width="48" height="48" aria-hidden="true")
                                    use(xlink:href="img/social/social-sprite.svg#icon-facebook")
                .footer-main__contacts
                    .footer-main__contacts-text Если у вас есть вопросы – напишите нам!
                    ul.footer-main__social-list
                        li.footer-main__social-item
                            a(href="#" class="footer-main__social-link" title="Telegram")
                                svg(width="48" height="48" aria-hidden="true")
                                    use(xlink:href='img/social/social-sprite.svg#icon-telegram')
                        li.footer-main__social-item
                            a(href="#" class="footer-main__social-link" title="Whatsapp")
                                svg(width="48" height="48" aria-hidden="true")
                                    use(xlink:href="img/social/social-sprite.svg#icon-whatsapp")
                        li.footer-main__social-item
                            a(href="#" class="footer-main__social-link" title="Viber")
                                svg(width="48" height="48" aria-hidden="true")
                                    use(xlink:href='img/social/social-sprite.svg#icon-viber')
                        li.footer-main__social-item
                            a(href="#" class="footer-main__social-link" title="Messenger")
                                svg(width="48" height="48" aria-hidden="true")
                                    use(xlink:href='img/social/social-sprite.svg#icon-messenger')
        .footer-main__rights-block
            .footer-main__rights-block-item.footer-main__rights-block-copyright
                .footer-main__copyright © 2020 MathLabs. Все права защищиены   
            .footer-main__rights-block-item
                a(href="#" class="footer-main__link") Политика конфиденциальности     
            .footer-main__rights-block-item
                a(href="#" class="footer-main__link") Пользовательское соглашение
            
        
        
    
