.test-content
  .test-content__header
    .test-content__header-list
      .test-content__header-list-item.test-content__header-list-item--active 1
      .test-content__header-list-item 2
      .test-content__header-list-item 3
      .test-content__header-list-item 4
      .test-content__header-list-item 5
      .test-content__header-list-item 6
      .test-content__header-list-item 7
      .test-content__header-list-item 8
      .test-content__header-list-item 9
      .test-content__header-list-item 10
      .test-content__header-list-item 11
      .test-content__header-list-item 12
      .test-content__header-list-item 13
      .test-content__header-list-item 14
      .test-content__header-list-item 15
      .test-content__header-list-item 16
      .test-content__header-list-item 17
      .test-content__header-list-item 18
      .test-content__header-list-item 19
      .test-content__header-list-item 20
  .test-content__body
    .test-content__body-text-wrapper
      .test-content__title Вопрос 1&nbsp;из&nbsp;20
      .test-content__text Для приготовления жидкой краски на&nbsp;150 граммов сухого порошка краски надо взять 120 граммов растворителя. 
      .test-content__text Сколько граммов растворителя необходимо взять для приготовления краски из&nbsp;200 граммов сухого порошка?
    form.test-content__answer
      input.test-content__input-text(type="text" value="160" placeholder="")
      .test-content__btns-wrapper
        button.test-content__btn.test-content__btn--submit(type="submit") Дать ответ
        a.test-content__btn.test-content__btn--link(href="#") Пропустить
