.test-content
  .test-content__header
    .test-content__header-list
      .test-content__header-list-item.test-content__header-list-item--active 1
      .test-content__header-list-item.test-content__header-list-item--true 2
      .test-content__header-list-item.test-content__header-list-item--false 3
      .test-content__header-list-item.test-content__header-list-item--true 4
      .test-content__header-list-item.test-content__header-list-item--false 5
      .test-content__header-list-item.test-content__header-list-item--true 6
      .test-content__header-list-item.test-content__header-list-item--false 7
      .test-content__header-list-item.test-content__header-list-item--false 8
      .test-content__header-list-item.test-content__header-list-item--true 9
      .test-content__header-list-item.test-content__header-list-item--false 10
      .test-content__header-list-item.test-content__header-list-item--false 11
      .test-content__header-list-item.test-content__header-list-item--true 12
      .test-content__header-list-item.test-content__header-list-item--false 13
      .test-content__header-list-item.test-content__header-list-item--true 14
      .test-content__header-list-item.test-content__header-list-item--true 15
      .test-content__header-list-item.test-content__header-list-item--true 16
      .test-content__header-list-item.test-content__header-list-item--false 17
      .test-content__header-list-item.test-content__header-list-item--false 18
      .test-content__header-list-item.test-content__header-list-item--true 19
      .test-content__header-list-item.test-content__header-list-item--false 20
  .test-content__body
    .test-content__body-text-wrapper
      .test-content__title Вопрос 1&nbsp;из&nbsp;20
      .test-content__quote.test-content__quote--blue
        | Для приготовления жидкой краски на 150 граммов сухого порошка краски надо взять 120 граммов растворителя.&nbsp;
        br
        | Сколько граммов растворителя необходимо взять для приготовления краски из 200 граммов сухого порошка?
      .test-content__stat-results
        .test-content__stat-results-text
          | Правильный ответ:&nbsp;
          span.test-content__stat-results-text-number.test-content__stat-results-text-number--green 160
        .test-content__stat-results-text
          | Твой ответ:&nbsp;
          span.test-content__stat-results-text-number.test-content__stat-results-text-number--green 160
      .test-content__title Решение
      .test-content__quote.test-content__quote--green
        | Для приготовления жидкой краски на 150 граммов сухого порошка краски надо взять 120 граммов растворителя.&nbsp;
        br
        | Сколько граммов растворителя необходимо взять для приготовления краски из 200 граммов сухого порошка?&nbsp;
        br
        | Вот так, кароч.
    .test-content__btns-wrapper
      a.test-content__btn.test-content__btn--submit(href="#") Начать обучение
