.test-content
  .test-content__header
    .test-content__header-list
      .test-content__header-list-item.test-content__header-list-item--true 1
      .test-content__header-list-item.test-content__header-list-item--true 2
      .test-content__header-list-item.test-content__header-list-item--false 3
      .test-content__header-list-item.test-content__header-list-item--true 4
      .test-content__header-list-item.test-content__header-list-item--false 5
      .test-content__header-list-item.test-content__header-list-item--true 6
      .test-content__header-list-item.test-content__header-list-item--false 7
      .test-content__header-list-item.test-content__header-list-item--false 8
      .test-content__header-list-item.test-content__header-list-item--true 9
      .test-content__header-list-item.test-content__header-list-item--false 10
      .test-content__header-list-item.test-content__header-list-item--false 11
      .test-content__header-list-item.test-content__header-list-item--true 12
      .test-content__header-list-item.test-content__header-list-item--false 13
      .test-content__header-list-item.test-content__header-list-item--true 14
      .test-content__header-list-item.test-content__header-list-item--true 15
      .test-content__header-list-item.test-content__header-list-item--true 16
      .test-content__header-list-item.test-content__header-list-item--false 17
      .test-content__header-list-item.test-content__header-list-item--false 18
      .test-content__header-list-item.test-content__header-list-item--true 19
      .test-content__header-list-item.test-content__header-list-item--false 20
  .test-content__body
    .test-content__body-text-wrapper
      .test-content__title Результат
      .test-content__stat-results
        .test-content__stat-results-text
          | Правильные ответы:&nbsp;
          span.test-content__stat-results-text-number.test-content__stat-results-text-number--green 12
        .test-content__stat-results-text
          | Неправильные ответы:&nbsp;
          span.test-content__stat-results-text-number.test-content__stat-results-text-number--orange 8
      .test-content__text
        | Есть несколько ошибок, но&nbsp;это не&nbsp;проблема!&nbsp;
        br
        | Теперь ты&nbsp;можешь начать обучение и&nbsp;пройти первый вводный урок. Мы&nbsp;подобрали для тебя занятия таким образом, чтобы ты&nbsp;смог улучшить результаты по&nbsp;всем направлениям.
    .test-content__btns-wrapper
      a.test-content__btn.test-content__btn--submit(href="#") Начать обучение
      a.test-content__btn.test-content__btn--white(href="#") Посмотреть ответы
