.test-content
  .test-content__header
    .test-content__header-list
      .test-content__header-list-item.test-content__header-list-item--active 1
      .test-content__header-list-item 2
      .test-content__header-list-item 3
      .test-content__header-list-item 4
      .test-content__header-list-item.test-content__header-list-item--missed 5
      .test-content__header-list-item 6
      .test-content__header-list-item 7
      .test-content__header-list-item 8
      .test-content__header-list-item 9
      .test-content__header-list-item 10
      .test-content__header-list-item.test-content__header-list-item--missed 11
      .test-content__header-list-item 12
      .test-content__header-list-item 13
      .test-content__header-list-item 14
      .test-content__header-list-item 15
      .test-content__header-list-item 16
      .test-content__header-list-item 17
      .test-content__header-list-item 18
      .test-content__header-list-item 19
      .test-content__header-list-item 20
  .test-content__body
    .test-content__body-text-wrapper
      .test-content__title Поздравляем! 
      .test-content__text
        | Чтобы отправить результаты тестирования&nbsp;&mdash; нажми&nbsp;
        span.test-content__text-bold &laquo;Завершить&raquo;
        | .&nbsp;
        br 
        | Ты&nbsp;можешь вернуться к&nbsp;любому вопросу для проверки или изменения ответа.&nbsp;
        br
        | Если есть пропуски&nbsp;&mdash; вернись к&nbsp;вопросу, чтобы ответить.
    a.test-content__btn.test-content__btn--submit(href="#") Завершить
