.test-content
  .test-content__header
    .test-content__header-list
      .test-content__header-list-item.test-content__header-list-item--done 1
      .test-content__header-list-item.test-content__header-list-item--active 2
      .test-content__header-list-item 3
      .test-content__header-list-item 4
      .test-content__header-list-item 5
      .test-content__header-list-item 6
      .test-content__header-list-item 7
      .test-content__header-list-item 8
      .test-content__header-list-item 9
      .test-content__header-list-item 10
      .test-content__header-list-item 11
      .test-content__header-list-item 12
      .test-content__header-list-item 13
      .test-content__header-list-item 14
      .test-content__header-list-item 15
      .test-content__header-list-item 16
      .test-content__header-list-item 17
      .test-content__header-list-item 18
      .test-content__header-list-item 19
      .test-content__header-list-item 20
  .test-content__body
    .test-content__body-text-wrapper.test-content__body-text-wrapper--small-indent
      .test-content__title Вопрос 2 из 20
      .test-content__text Упростите выражение 2ab2 *12(a3b)3 *5ab5
    form.test-content__answer
      .test-content__checkbox-wrapper
        .test-content__checkbox-item
          label.test-content__checkbox-label(for="120a8b10")
            input.test-content__checkbox-default(type="checkbox" name="120a8b10" value="120a8b10")
            .test-content__checkbox-text 120a8b10
            .test-content__checkbox-mark
        .test-content__checkbox-item
          label.test-content__checkbox-label(for="120a11b11")
            input.test-content__checkbox-default(type="checkbox" name="120a11b11" value="120a11b11")
            .test-content__checkbox-text 120a11b11
            .test-content__checkbox-mark
        .test-content__checkbox-item    
          label.test-content__checkbox-label(for="120a8b11")
            input.test-content__checkbox-default(type="checkbox" name="120a8b11" value="120a8b11")
            .test-content__checkbox-text 120a8b11
            .test-content__checkbox-mark
        .test-content__checkbox-item    
          label.test-content__checkbox-label(for="120a11b10")
            input.test-content__checkbox-default(type="checkbox" name="120a11b10" value="120a11b10" checked)
            .test-content__checkbox-text 120a11b10
            .test-content__checkbox-mark
      .test-content__btns-wrapper
        button.test-content__btn.test-content__btn--submit(type="submit") Дать ответ
        a.test-content__btn.test-content__btn--link(href="#") Пропустить
