.content-header.content-header--online-classes
  .content-header__container
    .content-header__row.content-header__row--diff-directions
      .content-header__col
        .content-header__list
          a.content-header__item(href="#") Все занятия
          a.content-header__item.content-header__item--active(href="#") Интенсивы
          a.content-header__item(href="#") Курсы 
          a.content-header__item(href="#") В группе
      .content-header__col
        .content-header__tooltips-wrapper
          .content-header__tooltip-item
            .content-header__tooltip-title Все цели
            .content-header__tooltip-content
              a.content-header__tooltip-content-item.content-header__tooltip-content-item--active(href="#") Олимпиадная математика
              a.content-header__tooltip-content-item(href="#") Школьная программа
              a.content-header__tooltip-content-item(href="#") ЕГЭ по математике
              a.content-header__tooltip-content-item(href="#") ОГЭ по математике
              a.content-header__tooltip-content-item(href="#") Математические школы
              a.content-header__tooltip-content-item(href="#") Международные экзамены
              a.content-header__tooltip-content-item(href="#") Все цели
          .content-header__tooltip-item
            .content-header__tooltip-title 11 класс
            .content-header__tooltip-content
              a.content-header__tooltip-content-item.content-header__tooltip-content-item--active(href="#") 11 класс
              a.content-header__tooltip-content-item(href="#") 10 класс
              a.content-header__tooltip-content-item(href="#") 9 класс
              a.content-header__tooltip-content-item(href="#") 8 класс
              a.content-header__tooltip-content-item(href="#") 7 класс
              a.content-header__tooltip-content-item(href="#") 6 класс
              a.content-header__tooltip-content-item(href="#") 5 класс
              a.content-header__tooltip-content-item(href="#") 4 класс
              a.content-header__tooltip-content-item(href="#") 3 класс
              a.content-header__tooltip-content-item(href="#") 2 класс
              a.content-header__tooltip-content-item(href="#") 1 класс
