.content-header.content-header--my-lessons
  .content-header__container
    .content-header__row.content-header__row--diff-directions
      .content-header__col
        a.content-header__btn.content-header__btn--back(href="#") Выйти из архива
